
<article>
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <h6>
    {% if post.autor %}<autor class="radius label">{{ post.autor }}</autor> | {% endif %}
    <i class="fi-clock"></i> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%d.%m.%Y"}}</time>
  </h6>
  {% if post.splash %}<img src="{{ post.splash }}" alt="splash image" class="splash" />{% endif %}
  {{ post.excerpt | markdownify }}
  <a href="{{ post.url }}" class="right">Celý článek →</a>
  <span class="category"><i class="fi-pricetag-multiple"></i> {{ post.tags | category_links }}</span>
</article>
