<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 large-3 u-stacked-medium-down columns">
        <img src="https://www.pirati.cz/assets/img/brand/logo.svg" style="width: 170px" alt="Česká pirátská strana" class="u-center-medium-down u-10paddingTop">
        <p class="u-0margin u-noWrap u-50paddingTop u-smaller-line-height show-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2017. <br/>
          Všechna práva vyhlazena.<br/>
          Sdílejte a nechte ostatní sdílet za stejných podmínek.
        </p>
      </div>
      <div class="medium-12 large-7 u-stacked-medium-down columns">
        <div class="row u-custom-gutter">
          {% include footer_content.html %}
        </div>
      </div>
      <div class="medium-12 large-2 u-stacked-medium-down columns u-center-medium-down">
        <nav class="c-vertical-navigation">
          <h3 class="c-vertical-navigation__title">Buďte s námi v síti</h3>
          <ul class="c-vertical-navigation-items c-vertical-navigation-items--horizontal">
          {% for item in site.data.links.socials %}
            <li class="c-vertical-navigation__item">
              <a href="{{item.url}}" rel="noopener noreferrer" target="_blank" title="{{item.title}}">
                <i class="fa {{item.icon}} fa-2x c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
          {% endfor %}
          </ul>
        </nav>
        <p class="u-10paddingTop u-maxWidth80percent u-smaller-line-height hide-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2016. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných podmínek.
        </p>
      </div>
    </div>
  </div>
</footer>
<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a> </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          {% for item in site.data.links.footer.kontakty %}
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section">{{item.title}}</div>
            <div class="c-contact-bar__description">{{item.name}},
              <a href="mailto:{{item.email}}">{{item.email}}</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
