<div class='thetop'></div>
<aside class="o-section o-section--smaller c-header-bar u-inverted u-inverted--darker u-center-860-down">
  <div class="row">
    <div class="o-section-inner" style="padding: 3px;">
      <div class="small-9 columns">
        {% include shared/menu.top.html %}
      </div>
    </div>
  </div>
</aside>
<div class="c-top-bar">
  <div class="row">
    <div class="c-top-bar-inner u-cf">
      <ul class="c-top-bar-searchbar c-top-bar-searchbar--asTitle menu">
        <li>
          <input type="search" id="search" placeholder="Hledaný výraz">
        </li>
        <li class="c-top-bar-searchbar__submit">
          <button type="button" class="button" id="searchsub">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
      {% if page.url != '/' %}
      <div class="top-bar-title">
        <a href="{{ '/' | relative_url }}">
          <img src="https://www.pirati.cz/assets/img/brand/logo.svg" alt="Pirátská strana - logo">
        </a>
      </div>
      {% endif %}

      <!-- MENU -->
      {% include shared/menu.main.html %}
    </div>
  </div>
</div>
<div class="c-top-bar-border"> </div>
