
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="author" content="{{ site.author }}">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow,snippet,archive" />
<link rel='alternate' type='application/rss+xml' title='{{ site.name }}' href='{{ site.url }}/blog.rss' />
<meta name="google-site-verification" content="zow-5WY0dE0Mas3Msng23YBsy6CId1pjS3PZbcOmPmI" />

<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
{% endif %}
{% if page.category == "blog" %}
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 34 }}" />
<meta property="og:locale" content="cs_CZ" />
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta name="keywords" content="{{ page.tags | category_links }},{{ site.keywords }}" />
{% else %}
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.description | strip_html }}" />
<meta name="description" content="{{ page.description | strip_html }}" />
<meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
{% endif %}

<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="shortcut icon" href="/static/favicon.ico">

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
  integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
  crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
  integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
  crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
  integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
  crossorigin="anonymous"></script>

<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

<script async defer
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>

<script async defer
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous">
</script>
<script async defer
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
  crossorigin="anonymous">
</script>

<!--[if IE]><script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script><![endif]-->
<!-- <script src="/static/script.js"></script> -->
