{% comment %}
Menu uplne nahore. Ikonky socials a odkazy na externi weby.
{% endcomment %}

<ul class="c-header-bar-items">
{% for item in site.data.links.socials %}
  <li class="c-header-bar__item c-header-bar__item--smallerSpace">
    <a href="{{item.url}}" rel="noopener noreferrer" target="_blank" title="{{item.title}}">
      <i class="fa {{item.icon}}" aria-hidden="true"></i>
    </a>
  </li>
{% endfor %}
</ul>

<div class="c-header-bar-divider"></div>

<ul class="c-header-bar-items c-header-bar-items--bigLh">
{% for item in site.data.top-menu %}
  <li class="c-header-bar__item">
    <a href="{{ item.url }}" rel="noopener noreferrer" target="_blank">
      <i class="{{ item.icon }}" aria-hidden="true"></i>
      <span class="c-header-bar__itemDescription">{{ item.link }}</span>
    </a>
  </li>
{% endfor %}
</ul>
