
<div class="menu-toggle-container hide-for-large">
  <span data-responsive-toggle="responsive-menu" id="menuTogge" data-hide-for="large">
    <button class="" type="button" data-toggle="">
      <span class="menu-toggle-inner">
        <span class="menu-toggle-description">Menu</span>
        <i class="menu-icon dark"></i>
      </span>
    </button>
  </span>
</div>
<div id="responsive-menu" class="c-top-bar-menu">
  <div class="responsive-menu-inner">
    <div class="top-bar-left top-bar-footer-group">
      <ul class="dropdown menu" data-dropdown-menu="">

        {% for item in site.data.menu %}
        <li{% if page.url contains item.url %} class="is-active"{% endif %}>
          <a href="{{ item.url }}" {% if item.target %}target="{{item.target}}"{% endif %}>
            {{ item.title }} {% if item.icon %}<i class="fa {{ item.icon }}"></i> {% endif %}
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
